<h2 class="small-title">Passing builds in last 30 days</h2>
{{#each branchData as |branch|}}
<div class="branch-batch">
  <div class="branch-batch-name {{branch.class}}">
    {{branch.branchname}}
  </div>
  <div class="branch-batch-value">
    {{branch.percentage}}%
  </div>
</div>
{{/each}}
