<!--<style>

.passed {
  fill: #39aa56;
}

.failed {
  fill: #db4545;
}

.axis {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Source Sans Pro",Helvetica,sans-serif;
}

.axis text {
  fill: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>-->
<div class="build-history">
</div>
