<div class="chart-row">
  <div class="chart-container"> {{build-duration repo=repo}} </div>
  <div class="chart-container"> #placeholder </div>
  <div class="chart-container"> #placeholder </div>
</div>
