<div class="chart-row">
  <div class="chart-container single-chart">
    {{build-duration repo=repo}}
  </div>
  <div class="chart-container double-chart">
    {{event-type repo=repo}}
  </div>
</div>
