<p class="streak-sentence">
  Your tests are passing for the last <emph> {{getStreakData.streak.days}} days
  </emph> and <emph>{{getStreakData.streak.builds}} builds</emph>.
</p>
<p class="streak-sentence">
  The 3 builds in the last 30 days ran for 14 minutes.
  In the 30 days before 5 builds ran for 30 minutes.
</p>
