<br>
<h2 class="small-title">Streak:</h2>

Your tests are passing for the last <span class="text-big">{{getStreakData.streak.days}}</span>
days and <span class="text-big">{{getStreakData.streak.builds}}</span> builds.
