<h2 class="small-title">Current Streak</h2>

<p class="streak-sentence">Your tests are passing for the last <span class="streak-highlighted">{{getStreakData.streak.days}} days</span> and <span class="streak-highlighted">{{getStreakData.streak.builds}} builds</span>.</p>
