<div class="streak-item">
  <h2 class="small-title">Days passing</h2>
  <emph>{{getStreakData.streak.days}}</emph><br/>
  {{getStreakData.streak.builds}} build(s) during these days
</div>
<div class="streak-item">
  <h2 class="small-title">Builds</h2>
  <emph>3</emph><br/>
  in the last 30 days
</div>
<div class="streak-item">
  <h2 class="small-title">Build Minutes</h2>
  <emph>33</emph><br/>
  in the last 30 days
</div>
