.overview-section
  padding: 0 0 1em
  margin-bottom: 3em
  border-bottom: 2px solid #f2f3ef
  &:last-of-type
    border-bottom: none
  .small-title
    margin-top: 0

// container

.chart-row
  width: 100%
  text-align: center

.chart-container
  margin-left: 1%
  margin-right: 1%
  margin-top: 0px
  margin-bottom: 0px
  width: 45%
  display: inline-block
  vertical-align: middle
  @media (max-width: 800px)
    display: block
    width: 70%
    margin-left: auto
    margin-right: auto
  @media (max-width: 640px)
    display: block
    width: 90%
    margin-left: auto
    margin-right: auto

.svg-container
  display: inline-block
  position: relative
  width: 100%
  vertical-align: top
  overflow: hidden

.svg-content-responsive
  display: inline-block

// states

.passed
  fill: $turf-green
.started, .queued, .booting, .received, .created
  fill: $canary-yellow
.failed, .errored
  fill: $brick-red
.canceled
  fill: $cement-grey

// axes

.axis
  text
    fill: $asphalt-grey
    font-size: $font-size-s
    @media (max-width: 1400px)
      font-size: $font-size-sm
    @media (max-width: 800px)
      font-size: $font-size-m
    @media (max-width: 640px)
      font-size: $font-size-ml
    font-weight: $font-weight-normal
    font-style: normal
  path
    fill: none
    stroke: $asphalt-grey
    shape-rendering: auto
  line
    fill: none
    stroke: $asphalt-grey
    shape-rendering: auto

.build-history.x.axis path
  display: none

.axis-label
  text
    fill: $asphalt-grey
    font-size: $font-size-sm
    @media (max-width: 800px)
      font-size: $font-size-m
    @media (max-width: 640px)
      font-size: $font-size-ml
    font-weight: $font-weight-normal

// labels and highlighting

.label
  text
    font-size: $font-size-s
    @media (max-width: 1400px)
      font-size: $font-size-sm
    @media (max-width: 800px)
      font-size: $font-size-m
    @media (max-width: 640px)
      font-size: $font-size-ml
    font-weight: $font-weight-normal
    font-style: normal
    fill: $asphalt-grey
    text-anchor: start
  rect
    fill: $pebble-grey
    stroke-width: 1
    stroke: $cement-grey

.bar-shadow
  rect
    stroke-width: 3
    stroke: $oxide-blue
    fill: transparent

.pie-header
  fill: $asphalt-grey
  font-size: $font-size-sm
  @media (max-width: 800px)
    font-size: $font-size-m
  @media (max-width: 640px)
    font-size: $font-size-ml
  font-weight: $font-weight-normal

// misc chart parts

.pie-piece
  stroke: $pebble-grey
  stroke-width: 2px

// text styling

.streak-item
  margin-left: 0
  margin-right: 0

p.streak-sentence
  font-size: $font-size-sm
  font-weight: $font-weight-normal

span.streak-highlighted
  font-size: $font-size-ml
  font-weight: $font-weight-normal

.branch-batch
  font-size: $font-size-m
  font-weight: $font-weight-normal
  border: 1px solid $cement-grey
  margin-left: 0px
  margin-right: 12px
  margin-top: 0px
  margin-bottom: 12px
  display: inline-block

.branch-batch-name
  height: 100%
  padding: 3px 12px
  border: 0px
  border-right: 1px solid $cement-grey
  display: inline-block

.branch-batch-value
  height: 100%
  padding: 3px 6px
  border: 0px
  display: inline-block

.batch-green
  background: $seed-green

.batch-red
  background: $quartz-red
