// pale color vars
$pale-green: #a2d291
$pale-red: #f8a89d

.overview-section
  padding: 0 0 1em
  margin-bottom: 1em
  border-bottom: 2px solid #f2f3ef
  &:last-of-type
    border-bottom: none
  .small-title
    margin-top: 0

// container

.svg-container
  display: inline-block
  position: relative
  width: 100%
  vertical-align: top
  overflow: hidden

.svg-content-responsive
  display: inline-block

// states

.passed
  fill: $pale-green
.started, .queued, .booting, .received, .created
  fill: $canary-yellow
.failed, .errored
  fill: $pale-red
.canceled
  fill: $cement-grey

// axes

.axis
  text
    fill: $asphalt-grey
    font-size: $font-size-s
    @media (max-width: 1400px)
      font-size: $font-size-sm
    @include chartFontEnlargement
  path, line
    fill: none
    stroke: $asphalt-grey
    shape-rendering: auto

.build-history.x.axis path
  display: none

.axis-label
  text
    fill: $asphalt-grey
    font-size: $font-size-sm
    text-anchor: end
    @include chartFontEnlargement

// labels and highlighting

.label
  text
    font-size: $font-size-s
    fill: $asphalt-grey
    text-anchor: start
    @media (max-width: 1400px)
      font-size: $font-size-sm
    @include chartFontEnlargement
  rect
    fill: $pebble-grey
    stroke-width: 1
    stroke: $cement-grey

.bar-shadow
  rect
    stroke-width: 3
    stroke: $oxide-blue
    fill: transparent

// misc chart parts

.duration-avg
  stroke-width: 1
  stroke: $cement-grey

// text styling

.build-history-span
  font-size: $font-size-m
  color: $cement-grey

.no-builds-label
  font-size: $font-size-sm
  fill: $cement-grey

.streak-sentence
  font-size: $font-size-sm

.streak-sentence emph
  font-size: $font-size-ml
