.build-history
  width: 100%
  .passed
    fill: $turf-green
  .started, .queued, .booting, .received, .created
    fill: $canary-yellow
  .failed, .errored
    fill: $brick-red
  .canceled
    fill: $cement-grey
  .axis
    font-size: $font-size-sm
    font-weight: $font-weight-normal
    font-style: normal
    text
      fill: $asphalt-grey
    path
      fill: none
      stroke: $asphalt-grey
      shape-rendering: crispEdges
    line
      fill: none
      stroke: $asphalt-grey
      shape-rendering: crispEdges
  .bar-label
    font-size: $font-size-sm
    font-weight: $font-weight-normal
    font-style: normal
    text
      fill: $asphalt-grey
      text-anchor: start
    rect
      fill: $pebble-grey
      stroke-width: 1
      stroke: $cement-grey
  .bar-shadow
    rect
      stroke-width: 3
      stroke: $oxide-blue
      fill: transparent

  .x.axis path
    display: none

.svg-container
  display: inline-block
  position: relative
  width: 100%
  vertical-align: top
  overflow: hidden

.svg-content-responsive
  display: inline-block
