.build-duration
  width: 100%
  .passed
    fill: $turf-green
  .failed
    fill: $brick-red
  .axis
    font-size: $font-size-sm
    font-weight: $font-weight-normal
    font-style: normal
    text
      fill: $asphalt-grey
    path
      fill: none
      stroke: $asphalt-grey
      shape-rendering: auto
    line
      fill: none
      stroke: $asphalt-grey
      shape-rendering: auto
