.pie-header
  text
    fill: $asphalt-grey
    font-size: $font-size-sm
    font-weight: $font-weight-normal

.pie-piece
  stroke: $pebble-grey
  stroke-width: 2px

.passed
  fill: $turf-green

.failed
  fill: $brick-red

.errored
  fill: $brick-red

.bar-label
  rect
    fill: $pebble-grey
    stroke: $cement-grey
    stroke-width: 1
  text
    fill: $asphalt-grey
    font-size: $font-size-s
    font-weight: $font-weight-normal
